@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

* {
	font-family: 'JetBrains Mono', monospace;
}

body {
	background-color: #1e2326;
	color: #d3c6aa;
}
